@import url('font-roboto-400-regular.css');
@import url('font-roboto-500-medium.css');
@import url('all.min.css');

:root {
    --col-width: calc(100% / 12)
}

* {
    margin: 0;
    box-sizing: border-box;
}

.lg-1-col {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.lg-2-col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.lg-3-col {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.lg-4-col {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.lg-5-col {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.lg-6-col {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.lg-7-col {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
}

.lg-8-col {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.lg-9-col {
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
}

.lg-10-col {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.lg-11-col {
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: auto;
}

.lg-12-col {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}

.lg-13-col {
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: auto;
}

.triphouse__fone {
    width: 100%;
    height: 900px;
    background-image: url('../images/fon-triphouse.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 51px;
}

.triphouse__conteiner {
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding: 0 104px;
}

.triphouse__head {
    width: 100%;
    height: 46px;
    grid-template-columns: 1fr 2fr 94px;
    margin-bottom: 196px;
}

.triphouse__logo_vector {
    width: 205px;
    height: 40px;
    fill: #3077C6;
}

.triphouse__text-head {
    position: relative;
    vertical-align: top;
    text-align: end;
    margin: 8px 0 0;
    padding-right: 32px;
    font-family: 'Roboto', sans-serif;
}

.triphouse__steys:after {
    display: inline-block;
    position: absolute;
    left: 514px;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #F5BD41;
    content: "";
    transition: width 0.3s ease-out;
}

.triphouse__steys:hover:after, .triphouse__steys:focus:after {
    width: 50px;
}

.triphouse__attractions:after {
    display: inline-block;
    position: absolute;
    right: 85px;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #F5BD41;
    content: "";
    transition: width 0.3s ease-out;
}

.triphouse__attractions:hover:after, .triphouse__attractions:focus:after {
    width: 50px;
}


.triphouse__night {
    width: 30px;
    height: 30px;
    margin: 8px 20px 10px 0;
}

.triphouse__account-circle {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin: 0 0 6px;
    fill: #FFFFFF;
}

.triphouse__menu {
    display: none;
    width: 24px;
    height: 16px;
    fill: #FFFFFF;
    margin: 12px 14px 18px;
}


.triphouse__text {
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 20px
}

.triphouse__inscription {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.triphouse__navi {
    grid-template-columns: 28% 1fr 20px 1fr 2fr;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 24px;
}

._t-name {
    margin-bottom: 24px;
}

._t-check-in {
    justify-self: end;
    margin-right: 5px;
}

._t-check-out {
    max-width: max-content;
    justify-self: start;
    margin-left: 5px;
}

.triphouse__form {
    width: 100%;
    padding: 0 104px;
}

.triphouse__form-line {
    grid-template-columns: minmax(10%, 38%) minmax(12%, 0.8fr) 1fr minmax(5%, 16%);
    height: 65px;
    padding: 0;
    margin: 22px 0 118px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.triphouse__form-city {
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #383838;
    font-size: 18px;
    border: 0;
    padding-left: 24px;
    border-radius: 8px;
    margin: 2px 3px 2px 0;
    width: auto;
}

.triphouse__form-city2 {
    display: none;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #383838;
    font-size: 18px;
    border: 0;
    padding-left: 24px;
    border-radius: 8px;
    margin: 2px 3px 2px 0;
}

.triphouse__form-calendar {
    border: 3px solid #F5BD41;
    border-radius: 8px;
    margin: 0 -4px;
    padding: 18px 0 19px;
}

.calendar-out {
    display: none;
}

.calendar-in {
    display: none;
}

.triphouse__form-calendar-in {
    width: 45%;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.triphouse__form-calendar-out {
    width: 45%;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

._t-dash {
    width: 8px;
    margin: 0;
}

.triphouse__quantity {
    display: grid;
    grid-template-columns:1fr 10px 1.1fr 10px 1fr;
}

.triphouse__form-quantity {
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #383838;
    font-size: 16px;
    border: 0;
    margin: auto;
}

.quantity {
    width: 30px;
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #383838;
    font-size: 14px;
    border: 0;
}

.quantity-text {
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #383838;
    font-size: 16px;
    margin-left: -20px;
    margin-right: 0;
}

.triphouse__form-search {
    height: 70px;
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #FFFFFF;
    font-size: 24px;
    background-color: #3077C6;
    border-radius: 8px;
    border: 3px solid #3077C6;
    margin: -2px -8px -2px 8px;
    color: #FFFFFF;
}

.triphouse__img-gp {
    justify-self: end;
}

.triphouse__img-as {
    margin-left: 16px;
    width: 120px;
    height: 40px;
}

.homes__container {
    width: 100%;
    padding: 120px 104px;
    background-color: #EAF0F9;

}


.homes__title {
    font-family: 'Roboto', sans-serif;
    text-decoration-color: #383838;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 105px;
}

.homes__block {
    display: grid;
    column-gap: 16px;
    position: relative;
}


.homes__subblock {
    height: 435px;
}

.homes_img {
    width: 100%;
    max-width: 296px;
    aspect-ratio: 1/1;
    margin-bottom: 24px;
    cursor: pointer
}

.homes_signature {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #3077C6;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 1em;
}

.homes__pointer {
    position: absolute;
    right: -2%;
    top: 30%;
    box-shadow: 5px 5px 5px #959597;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F3F3F4;
    padding: 10px 17px 11px 16px;
}

.polygon2 {
    fill: #383838;
    width: 7px;
    height: 19px;
}

.homes_text {
    font-family: 'Roboto', sans-serif;
    color: #BFBFBF;
    font-size: 24px;
    font-weight: 400;
}

.col-lg-1 {
    width: var(--col-width);
}

.col-lg-2 {
    width: calc(var(--col-width) * 2);
}

.col-lg-3 {
    width: calc(var(--col-width) * 3);
}

.col-lg-4 {
    width: calc(var(--col-width) * 4);
}

.col-lg-5 {
    width: calc(var(--col-width) * 5);
}

.col-lg-6 {
    width: 50%;
}

.col-lg-7 {
    width: calc(var(--col-width) * 7);
}

.col-lg-8 {
    width: calc(var(--col-width) * 8);
}

.col-lg-9 {
    width: calc(var(--col-width) * 9);
}

.col-lg-10 {
    width: calc(var(--col-width) * 10);
}

.col-lg-11 {
    width: calc(var(--col-width) * 11);
}

.col-lg-12 {
    width: 100%;
}


.offer {
    width: 100%;
}

.offer__head {
    position: relative;
    margin-bottom: 80px;
}

.offer__title {
    text-align: center;
    margin: 120px 0 0;
    font-size: 40px;
    color: #383838;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.offer__line {
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%);
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
}

.offer__block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 104px 122px;
}

.offer__subblock {
    text-align: center;
}

.offer__vector {
    max-width: 100px;
    aspect-ratio: 1/1;
    margin: 4px auto;
    fill: #3077C6
}

.offer__text {
    margin-top: 40px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.footer {
    width: 100%;
    background-color: #10367C;
    padding-bottom: 120px;
}


.footer__block {
    display: flex;
    justify-content: space-between;
    padding: 120px 104px 40px;
}

.footer__title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__list {
    list-style: none;
    padding-left: 0;
    margin-top: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.footer__li {
    padding-bottom: 24px;
}

.footer__content {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__end {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 105px;

}

@media (max-width: 1024px) {
    /* For table: */
    .col-md-1 {
        width: var(--col-width);
    }

    .col-md-2 {
        width: calc(var(--col-width) * 2);
    }

    .col-md-3 {
        width: calc(var(--col-width) * 3);
    }

    .col-md-4 {
        width: calc(var(--col-width) * 4);
    }

    .col-md-5 {
        width: calc(var(--col-width) * 5);
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: calc(var(--col-width) * 7);
    }

    .col-md-8 {
        width: calc(var(--col-width) * 8);
    }

    .col-md-9 {
        width: calc(var(--col-width) * 9);
    }

    .col-md-10 {
        width: calc(var(--col-width) * 10);
    }

    .col-md-11 {
        width: calc(var(--col-width) * 11);
    }


    .col-md-12 {
        width: 100%;
    }

    .md-1-col {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .md-2-col {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .md-3-col {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .md-4-col {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .md-5-col {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }

    .md-6-col {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }

    .md-7-col {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
    }

    .md-8-col {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
    }

    .md-9-col {
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
    }

    .md-10-col {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
    }

    .md-11-col {
        grid-template-columns: repeat(11, 1fr);
        grid-template-rows: auto;
    }

    .md-12-col {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .md-13-col {
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: auto;
    }

    .triphouse__conteiner {
        padding: 0 60px;
    }

    .triphouse__head {
        height: 36px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 100px;
    }

    .triphouse__logo_vector {
        width: 152px;
        height: 36px;
        fill: #3077C6;
    }

    .triphouse__text-head {
        display: none;
    }

    .triphouse__icon {
        justify-self: end;
        align-self: start;
    }

    .triphouse__night {
        width: 24px;
        height: 24px;
        margin: 3px 0;
    }

    .triphouse__account-circle {
        width: 36px;
        height: 36px;
        background-size: cover;
        margin: 0 12px;
    }

    .triphouse__menu {
        display: inline-block;
        width: 36px;
        height: 24px;
        fill: #FFFFFF;
        margin-bottom: 8px;
    }

    .triphouse__inscription {

        font-size: 36px;
        color: #FFFFFF;
        margin-bottom: 75px;
    }

    .triphouse__navi {
        grid-template-columns: 28% 1fr 20px 1fr 2fr;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 18px;
    }

    ._t-name {
        margin-bottom: 18px;
    }

    ._t-check-in {
        justify-self: end;
        margin-right: 5px;
    }

    ._t-check-out {
        max-width: max-content;
        justify-self: start;
        margin-left: 5px;
    }

    .triphouse__form {
        padding: 0 60px;
    }

    .triphouse__form-line {
        grid-template-columns: minmax(20%, 38%) minmax(12%, 0.8fr) 1fr minmax(5%, 16%);
        height: 65px;
        padding: 0;
        margin: 22px 0 60px;
        border-radius: 8px;
        background-color: #FFFFFF;
    }

    .triphouse__form-city {
        font-size: 14px;
        border: 0;
        padding-left: 16px;
        border-radius: 8px;
        margin: 2px 3px 2px 0;
    }

    .triphouse__form-city2 {
        display: none;
    }

    .triphouse__form-calendar {
        border: 3px solid #F5BD41;
        border-radius: 8px;
        margin: 0 -4px;
        padding: 18px 0 19px;
    }

    .triphouse__form-calendar-in {
        font-size: 12px;
    }

    .triphouse__form-calendar-out {
        font-size: 12px;
    }

    ._t-dash {
        display: none;
    }

    .triphouse__quantity {
        display: grid;
        grid-template-columns:1fr 1.1fr 1fr;
    }

    .triphouse__form-quantity {
        font-size: 12px;
    }

    .quantity {
        font-size: 14px;
    }

    .quantity-text {
        font-size: 14px;
        margin-left: -20px;
    }

    .triphouse__form-search {
        height: 70px;
        font-size: 20px;
    }

    .triphouse__img-gp {
        justify-self: end;
    }

    .triphouse__img-as {
        margin-left: 16px;
        width: 120px;
        height: 40px;
    }

    .offer__title {
        margin-top: 60px;
        font-size: 32px;
    }

    .offer__line {
        width: 80px;
        margin: 10px auto 50px;
    }

    .offer__block {
        margin: 0 80px 80px;
        justify-content: space-around;
        gap: 32px;
    }

    .offer__text {
        margin-top: 28px;
        font-size: 18px;
    }

    .homes__container {
        padding: 80px 80px;
    }

    .homes__title {
        font-size: 30px;
        margin-bottom: 60px;
    }

    .homes__block {
        column-gap: 14px;
    }

    .homes__subblock {
        height: auto;
    }

    .homes_img {
        width: 100%;
        max-width: 220px;
        aspect-ratio: 1/1;
        margin-bottom: 16px;
    }

    .homes_signature {
        font-size: 16px;
    }

    .homes__pointer {
        position: absolute;
        right: -2%;
        top: 30%;
    }


    .homes_text {
        font-size: 16px;
    }

    .footer {
        padding-bottom: 60px;
    }

    .footer__block {
        padding: 60px 40px 20px;
        height: content-box;
    }

    .footer__title {
        font-size: 16px;
    }

    .footer__li {
        padding-bottom: 18px;
    }

    .footer__content {
        font-size: 14px;
    }

    .footer__end {
        font-size: 12px;
        margin-left: 50px;
    }
}

@media (max-width: 520px) {
    /* For mobile: */
    :root {
        --col-width: calc(100% / 6)
    }

    .col-xs-1 {
        width: var(--col-width);
    }

    .col-xs-2 {
        width: calc(var(--col-width) * 2);
    }

    .col-xs-3 {
        width: 50%;
    }

    .col-xs-4 {
        width: calc(var(--col-width) * 4);
    }

    .col-xs-5 {
        width: calc(var(--col-width) * 5);
    }

    .col-xs-6 {
        width: 100%;
    }

    [class*="col-"] {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .xs-1-col {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .xs-2-col {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .xs-3-col {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }

    .xs-4-col {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .xs-5-col {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
    }

    .xs-6-col {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
    }


    .triphouse__fone {
        width: 100%;
        height: 100%;
        background-position: right;
        padding-top: 12px;
    }

    .triphouse__conteiner {
        padding: 0 16px;
    }

    .triphouse__head {
        width: 100%;
        height: 24px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 52px;
    }

    .triphouse__logo_vector {
        width: 122px;
        height: 24px;
        fill: #3077C6;
    }

    .triphouse__text-head {
        display: none;
    }

    .triphouse__icon {
        justify-self: end;
        align-self: start;
    }

    .triphouse__night {
        width: 16px;
        height: 16px;
        margin: 3px 0;
    }

    .triphouse__account-circle {
        width: 24px;
        height: 24px;
        background-size: cover;
        margin: 0 12px;
        fill: #FFFFFF;
    }

    .triphouse__menu {
        display: inline-block;
        width: 24px;
        height: 16px;
        fill: #FFFFFF;
        margin: 0 0 2px;
    }

    .triphouse__inscription {
        font-size: 30px;
        margin-bottom: 31px;
    }

    .triphouse__navi {
        display: none;
    }

    .triphouse__form-line {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 48px);
        background-color: #F5BD41;
        gap: 8px;
        height: auto;
        padding: 8px;
        margin: 0 16px;
        border-radius: 0;
    }

    .triphouse__form-city {
        display: none;
    }

    .triphouse__form-city2 {
        grid-row: 1;
        display: block;
        width: 100%;
        height: 48px;
        font-size: 15px;
        border: 0;
        padding: 0 0 0 36px;
        border-radius: 8px;
        margin: 0;
    }

    .triphouse__form-calendar {
        background-color: #FFFFFF;
        grid-row: 2;
        display: grid;
        width: 100%;
        column-gap: 8px;
        border: none;
        border-radius: 8px;
        margin: 0;
        padding: 0;
    }

    .calendar-in {
        display: block;
        grid-column: 1;
        grid-row: 1;
    }

    .triphouse__form-calendar-in {
        grid-column: 1;
        grid-row: 2;
    }

    .calendar-out {
        display: block;
        grid-column: 2;
        grid-row: 1;
    }

    .triphouse__form-calendar-out {
        grid-column: 2;
        grid-row: 2;
    }

    ._c-check {
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        text-decoration-color: #383838;
        padding-top: 6px;
        padding-left: 8px;
    }

    ._cal {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        text-decoration-color: #383838;
        font-weight: 500;
        justify-self: start;
        width: 70%;
        padding-top: 4px;
        padding-left: 8px;
        border-radius: 8px;
        align-items: start;
    }

    ._t-dash {
        display: none;
    }

    .triphouse__quantity {
        grid-row: 3;
        background-color: #ffffff;
        border-radius: 8px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-self: start;
        padding: 8px 0 6px 8px;
    }

    ._adults {
        display: grid;
        grid-template-rows: repeat(2, auto);

        width: 100%;
    }

    ._adults-lab {
        grid-row: 1;
    }

    ._adults-inp {
        grid-row: 2;
    }

    ._children {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        border-right: 1px solid #BFBFBF;
        border-left: 1px solid #BFBFBF;
        width: 100%;
        padding-left: 8px;
    }

    ._children-lab {
        grid-row: 1;
    }

    ._children-inp {
        grid-row: 2;
    }

    ._room {
        display: grid;
        grid-template-rows: repeat(2, auto);
        padding-left: 8px;
        width: 100%;
    }

    ._room-lab {
        grid-row: 1;
    }

    ._room-inp {
        grid-row: 2;
    }

    .quantity {
        width: 40px;
        font-size: 15px;
        font-weight: 500;
        border: 0;
    }

    .quantity-text {
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
    }

    .triphouse__form-search {
        grid-column: 1;
        grid-row: 4;
        width: 100%;
        height: auto;
        font-size: 19px;
        border: none;
        margin: 0;
        padding: 0;
    }

    .triphouse__img-gp {
        justify-self: end;
        margin-top: 31px;
    }

    .triphouse__img-as {
        margin: 31px 0 40px 16px;
    }

    .offer__title {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 32px;
        font-size: 28px;
    }

    .offer__line {
        display: none;
    }

    .offer__block {
        margin: 0 57px;
    }

    .offer__block:last-child {
        margin-bottom: 8px;
    }

    .offer__subblock {
        margin-bottom: 32px;
    }

    .offer__vector {
        max-width: 70px;
    }

    .vector-communicate {
        max-width: 60px
    }

    .offer__text {
        margin-top: 8px;
        font-size: 15px;
    }

    .homes__container {
        padding: 30px 30px;
    }

    .homes__title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .homes__block {
        column-gap: 10px;
    }

    .homes_img {
        width: 100%;
        max-width: 180px;
        aspect-ratio: 1/1;
        margin-bottom: 12px;
    }

    .homes_signature {
        font-size: 10px;
    }

    .homes__pointer {

        right: -2%;
        top: 5%;
        box-shadow: 2px 2px 2px #959597;
        width: 10px;
        height: 50px;
        border-radius: 3px;
        background-color: #F3F3F4;
        padding: 15px 1px 15px 1px;
    }

    .polygon2 {
        fill: #383838;
        width: 7px;
        height: 19px;
    }

    .homes_text {
        font-size: 10px;
    }

    .footer {
        padding-top: 40px;
        width: 100%;
        height: 203px;
    }

    .footer__vector {
        background-image: url(../images/logo_vector.svg);
        fill: #FFFFFF;
        margin: 0 auto 40px;
        width: 100px;
        height: 19px;
        background-repeat: no-repeat;
    }

    .footer__list {
        display: none;
    }

    .footer__title {
        font-size: 15px;

    }

    .footer__block {
        padding: 0 67px;
        margin-bottom: 32px;
    }

    .__property {
        width: 98px;
        height: 18px;
    }

    .__support {
        padding-left: 16px;
    }

    .footer__end {
        font-size: 12px;
        margin: 32px 70px 40px;
    }
}
